{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block main %}
<section>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>Password Reset</h1>
      <hr />
      <p class="lead">
        Forgot your password? Enter your email to reset password.
      </p>
      <form method="POST">
        {% csrf_token %}
        <fieldset>
          {{form|crispy}}
          <div class="form-group">
            <input
              class="btn btn-primary btn-block"
              type="submit"
              value="Reset password"
            />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
{% endblock main %}
