{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block main %}
<section>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form method="POST">
        <div class="card mt-4">
          <div class="card-header bg-dark text-light">
            <h1 class="text-center">Sign in</h1>
          </div>
          <div class="card-body">
            {% csrf_token %}
            <fieldset class="form-group">{{form|crispy}}</fieldset>
            <div class="form-group">
              <input
                class="btn btn-primary btn-block"
                type="submit"
                value="Sign in"
              />
            </div>
            <div class="text-center">
              <small
                >Don't have an account?
                <a href="{% url 'accounts:signup' %}">Sign up</a></small
              >
              <br />
              <small>
                <a href="{% url 'password_reset' %}">Forgot Password</a>
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock main %}
