{% extends 'core/base.html' %} {% block main %}
<section>
  <div class="row">
    <div class="col-md">
      <div class="jumbotron bg-dark text-light shadow">
        <h1 class="text-center">Welcome to the Blog App ✍🏼</h1>
        <div class="text-center mt-4">
          <a class="btn btn-primary" href="{% url 'accounts:signin' %}">Sign in</a>
          <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
