{% extends 'core/base.html' %} {% block main %}
<section>
  <div class="row">
    <div class="col mb-4 border-bottom">
      <div>
        <h1 class="float-left">Feed</h1>

        <a
          class="float-right btn btn-primary"
          href="{% url 'blog:create-post' %}"
          >&plus; Create new post</a
        >
      </div>
    </div>
    {% for post in posts%}
    <div class="col-md-12">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <img
                class="img-thumbnail rounded-circle"
                src="{{post.author.profile.image.url}}"
                alt=""
              />
            </div>
            <div class="col-md-10">
              <small class="text-muted float-right">{{post.created_at|timesince}} ago</small>
              <a class="text-dark" href=""><h3>&commat;{{post.author.username}}</h2></a>
              <a class="text-primary" href="{% url 'blog:detail-post' pk=post.id %}"><h4>{{post.title}}</h4></a>
              <p class="lead">{{post.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col">
    {% if posts.has_other_pages %}
    <ul class="pagination">
      {% if posts.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %} {% for i in posts.paginator.page_range %}
      <br />
      {% if posts.number == i %}
      <li class="active">
        <span>{{ i }} <span class="sr-only">(current)</span></span>
      </li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %} {% endfor %} {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</section>
{% endblock main %}
