{% extends 'core/base.html' %} {% block main %}
<section>
  <div class="row">
    <div class="col mb-4 border-bottom">
      <div>
        <h1 class="float-left">Feed</h1>
        <a
          class="float-right btn btn-primary"
          href="{% url 'blog:create-post' %}"
          >&plus; Create new post</a
        >
      </div>
    </div>
    {% for post in posts %}
    <div class="col-12">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <img
                class="img-thumbnail rounded-circle"
                src="{{post.author.profile.image.url}}"
                alt=""
              />
            </div>
            <div class="col-10">
              <small class="text-muted float-right">{{post.created_at|timesince}} ago</small>
              <a class="text-dark" href=""><h3>&commat;{{post.author.username}}</h2></a>
              <a class="text-primary" href="{% url 'blog:detail-post' pk=post.id %}"><h4>{{post.title|truncatechars:100}}</h4></a>
              <p class="lead">{{post.content|truncatechars:100}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-6 mx-auto">
      {% if posts.has_other_pages %}
        <ul class="pagination">
          {% if posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Previous</span></li>
          {% endif %} 

          {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} 
          {% endfor %} 
            
            
          {% if posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Next</span></li>
          {% endif %}
        </ul>
      {% endif %} 
    </div>
  </div>
</section>
{% endblock main %}
