{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block main %}
<section>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header bg-dark text-light">
          <h1 class="text-center">Update post</h1>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">{{form|crispy}}</fieldset>
            <fieldset class="form-group">
              <input
                class="btn btn-primary btn-block"
                type="submit"
                value="Update"
              />
              <a
                class="btn btn-info btn-block"
                href="{% url 'blog:detail-post' pk=form.instance.id %}"
                >Back</a
              >
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
